/* Welcome to Compass.
    * In this file you should write your main styles. (or centralize your imports)
    * Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 5, sass/components/_reset.scss */
* {
  box-sizing: border-box;
}

/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 25, sass/components/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 35, sass/components/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 44, sass/components/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 53, sass/components/_reset.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, sass/components/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 77, sass/components/_reset.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 89, sass/components/_reset.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 98, sass/components/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 111, sass/components/_reset.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 119, sass/components/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 128, sass/components/_reset.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 136, sass/components/_reset.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 144, sass/components/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 156, sass/components/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 165, sass/components/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 175, sass/components/_reset.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 183, sass/components/_reset.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 192, sass/components/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 199, sass/components/_reset.scss */
sup {
  top: -0.5em;
}

/* line 203, sass/components/_reset.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 215, sass/components/_reset.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 223, sass/components/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 235, sass/components/_reset.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 247, sass/components/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 258, sass/components/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 272, sass/components/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 284, sass/components/_reset.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 299, sass/components/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 309, sass/components/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 2. Removes excess padding in IE 8/9.
 */
/* line 318, sass/components/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 328, sass/components/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 341, sass/components/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 350, sass/components/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 360, sass/components/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 373, sass/components/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*grid*/
/*global*/
/* line 11, sass/style.scss */
body {
  background: #dddddd;
  font-size: 17px;
}

/* line 15, sass/style.scss */
a {
  text-decoration: none;
  color: #ea0000;
}

/* Nicolas Gallagher's micro clearfix */
/* line 21, sass/style.scss */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 22, sass/style.scss */
.row:after, .clearfix:after {
  clear: both;
}

/* line 23, sass/style.scss */
.row, .clearfix {
  zoom: 1;
}

/*header*/
/* line 26, sass/style.scss */
#main-header {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  height: 44px;
  background: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 7px 0 0;
}

/* line 38, sass/style.scss */
#site-title-description {
  text-align: center;
}

/* line 42, sass/style.scss */
#site-title {
  font-size: 24px;
  margin: 0 auto;
}

/* line 47, sass/style.scss */
#top-navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px 0 0;
}

/* line 54, sass/style.scss */
#top-navigation ul, #top-navigation li {
  float: right;
  list-style: none;
  margin: 0 5px;
  padding: 0 5px;
}

/* line 62, sass/style.scss */
#top-navigation a {
  color: #666666;
}

/*main*/
/* line 69, sass/style.scss */
#page.container {
  max-width: 960px;
  min-width: 720px;
  margin: 0 auto;
}

/* line 75, sass/style.scss */
#main {
  margin: 44px 0 0;
  padding: 20px 0;
}

/*pin*/
/* line 83, sass/style.scss */
.columns {
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
  padding: 0 10px;
}

/* line 90, sass/style.scss */
.pin {
  display: inline-block;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  margin: 20px 0;
  padding: 10px;
}

/* line 97, sass/style.scss */
.pin img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1280px) {
  /* line 102, sass/style.scss */
  #page.container {
    width: 1280px;
    max-width: 1280px;
    min-width: 1280px;
  }

  /* line 107, sass/style.scss */
  .columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
  }
}
