$color-bg: #ddd;
$color-gray: #999;
$color-white: rgba(255,255,255,0.85);
$color-red: #ea0000;
$color-menu: #666;
$color-black: rgba(0,0,0,0.85);


$font-size-xxxl: 38px;
$font-size-xxl: 28px;
$font-size-xl: 24px;
$font-size-l: 20px;
$font-size-m: 17px;
$font-size-s: 13px;
$font-size-xs: 11px;
$font-size-xxs: 10px;
$font-size-xxxs: 9px;




/*grid*/

$p-one: 4.3%;
$p-two: 13%; 
$p-three: 21.679%;
$p-four: 30.37%; 
$p-five: 39.1%; 
$p-six: 47.8%;
$p-seven: 56.5%;
$p-eight: 65.2%;
$p-nine: 73.9%;
$p-ten: 82.6%;
$p-eleven: 91.3%;
$p-twelve:  100%;

$n-one: 60px;